#aboutus-grid{
    display: grid;
    grid-template-columns: 50%, auto;
    grid-template-areas:
     jp aj
     am mp
     hb hb
     aco aco;
     gap: 8px;
}

#jimpic{
    grid-area: jp;
}

#aboutjim{
    grid-area: aj;
}


#mattpic{
    grid-area: mp;
}

#aboutmatt{
    grid-area: am;
}

#homebrewpic{
    grid-area: hb;
}

#aboutcompany{
    grid-area: aco;
}