#aboutus-grid{
    @include lg{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
       "jp  aj"
       "am  mp"
       "sv  ."
       "aco aco";
        gap: 24px;
    }
}

#jimpic{
    grid-area: jp;
    padding-left: 16px;
    padding-top: 16px;
}

#aboutjim{
    grid-area: aj;
    padding-right: 16px;
}

#mattpic{
    grid-area: mp;
}

#aboutmatt{
    grid-area: am;
    padding-left: 16px;
}

#streetview{
    grid-area: sv;
    padding-left: 16px;
}

#aboutcompany{
    grid-area: aco;
    padding-left: 16x;
    padding-right: 16px;
    padding-bottom: 16px;
}