#aboutus-grid{
    display: grid;
    grid-template-columns: 30%, auto;
    grid-template-areas:
     jp aj
     am mp
     hb hb;
     ac ac;
}

#jimpic{
    grid-area: jp
}

#aboutjim{
    grid-area: aj
}


#mattpic{
    grid-area: mp
}

#aboutmatt{
    grid-area: am
}

#homebrewpic{
    grid-area: hb
}

#aboutcompany{
    grid-area: ac
}