#company-content{
    @include lg{
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas: 
       "ft  d";
        gap: 16px;
    }
}

#foodtrucks{
    grid-area: ft;
}

#drinks{
    grid-area: d;
}