#events-content{
    @include lg{
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas:
        "e ."
        "c .";
    }
}

#events{
    grid-area: e;
    padding-left: 24px;
    
}

#calendar{
    grid-area: c;
    padding-left: 24px;
}