.content-grid{
    display: grid;
    grid-template-areas:
    "hh nu"
    "sm nu";
    gap: 8px;
}

#homepage-hours{
    grid-area: hh;
}

#newsupdates{
    grid-area: nu;
}

#socialmedia{
    grid-area: sm
}