#homepage-content{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas: 
       "hh  nu"
       "sm  nu";
        gap: 8px;
    }
}

#homepage-hours{
    grid-area: hh;
    padding-left:24px;
    line-height: 1.25;
}

#newsupdates{
    grid-area: nu;
    padding-right:24px;
    padding-bottom: 16px;
    line-height: 1.25;
}

#socialmedias{
    grid-area: sm;
    padding-left: 24px;
}