#merch-content{
    @include lg{
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas:
        "t  t"
        "p  .";
    }
}

#text{
    grid-area: t;
    padding-left: 48px;
    padding-bottom: 16px;
}

#photo{
    grid-area: p;
    padding-left: 72px;
    padding-bottom: 16px;
}