h2{
    padding-left: 16px;
}

#beer-menu{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "f o fs"
        "m ms l"
        "k cs th"
        "tn fh kk"
        "kg bb .";
        gap: 8px;
    }
}

#fantasy{
    grid-area: f;
    img{
        height:auto;
        max-width: 50%;
        padding-left: 16px;
    }
}

#otterrock{
    grid-area: o;
    img{
        height:auto;
        max-width: 50%;
    }
}

#fiftyseven{
    grid-area: fs;
    img{
        height:auto;
        max-width: 50%;
        padding-right: 16px;
    }
}


#monkey{
    grid-area: m;
    img{
        height:auto;
        max-width: 50%;
        padding-left: 16px;
    }
}

#milkstout{
    grid-area: ms;
    img{
        height:auto;
        max-width: 100%;
    }
}

#lightning{
    grid-area: l;
    img{
        height:auto;
        max-width: 50%;
        padding-right: 16px;
    }
}

#kiss{
    grid-area: k;
    img{
        height:auto;
        max-width: 50%;
        padding-left: 16px;
    }
}

#catsour{
    grid-area: cs;
    img{
        height:auto;
        max-width: 50%;
    }
}

#toohop{
    grid-area: th;
    img{
        height:auto;
        max-width: 50%;
        padding-right: 16px;
    }
}

#twicenice{
    grid-area: tn;
    img{
        height:auto;
        max-width: 50%;
        padding-left: 16px;
    }
}

#farmhouse{
    grid-area: fh;
    img{
        height:auto;
        max-width: 50%;
    }
}

#kk{
    grid-area: kk;
    img{
        height:auto;
        max-width: 50%;
        padding-right: 16px;
    }
}

#king{
    grid-area: kg;
    img{
        height:auto;
        max-width: 50%;
        padding-left: 16px;
    }
}


#britishbitter{
    grid-area: bb;
    img{
        height:auto;
        max-width: 50%;
    }
}

#guesttap{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "sy md pr"
        "at os ."
        "ww rw .";
        gap: 16px;
    }
}

#saucony{
    grid-area: sy;
    padding-left: 16px;
}

#maidens{
    grid-area: md;
}

#purplerain{
    grid-area: pr;
    padding-right: 16px;
}

#appletini{
    grid-area: at;
    padding-left: 16px;
}

#oaks{
    grid-area: os;
}

#whitewine{
    grid-area: ww;
    padding-left: 16px;
}

#redwine{
    grid-area: rw;
}