/* =============
    Navigation
============= */

nav{
    ul{
        margin: 0;
        padding: 0;

        li{
            text-decoration: none;
            text-align: left;
            float: inline;
        }

    }
}