/* =============
    Base
============= */

header{
    background-color: #faebb3;

    nav{
        background-color: #faebb3;
    }


    .nav-left{
        float: left;
        img{
            height: 100px;
            width: 250px;
        }
    }

    .nav-right{
        float: right;
        display:inline;

        nav ul{
            list-style:none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }


    }
}

body{
    background-color: #fab433;
    margin: 0;
}

footer{
    background-color: #7e6c34;
}

.content-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    .content-grid-item{
        background-color: #fab433;
        grid-area: content;

    }
}