/* =============
    Base
============= */
.content-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    .content-grid-item{
        background-color: #ffb737;
        grid-area: content;

    }
}

header{
    background-color: #ffecb3;
    padding-top: 20px;
    padding-bottom: 32px;
    
}

footer{
    background-color: #7e6c34;
}

a{
    text-decoration:none;
}

li{
    list-style:none;
}

.nav-left{
    float: left;
    img{
        height: auto;
        width: 80%;
    }
}

.nav-right{
    li{
      display: inline;
      padding: 16px;
    }

   text-align: center;
}