/* =============
    Typography
============= */

//font-family: 'Cabin', sans-serif;
//font-family: 'Playfair Display', serif;

body{
    font-family: 'Cabin', sans-serif;
    color: #454f40;
}

nav{
    font-family: 'Playfair Display', serif;
    color: #454f40;
}